In [1]:
import pandas as pd
import numpy as np

In [2]:
school="../Program/Modules/4.schools_complete.csv"
schools=pd.read_csv(school)
student="../Program/Modules/4.students_complete.csv"
students=pd.read_csv(student)

In [3]:
# print("NA Values: ")
# print(schools.count().isna())
# print("----------------------")
# print("Data Types: ")
# print(schools.dtypes)

In [4]:
# print("NA Values: ")
# print(students.count().isna())
# print("----------------------")
# print("Data Types: ")
# print(students.dtypes)

In [5]:
# Unique Entrees
numbers=students['student_name']
unique_numbers = list(set(numbers))
len(unique_numbers) 

gender=students['gender']
unique_gender = list(set(gender))
len(unique_gender)

# Unique Entrees Using Set
# def get_unique_numbers(numbers):
#     list_unique_numbers = []
#     unique_numbers = set(numbers)
    
#     for number in unique_numbers:
#         list_unique_numbers.append(number)
#     return list_unique_numbers
# len(get_unique_numbers(numbers))

2

In [6]:
## Identify duplicates, special characters, NA Values, Misspellingss

# students.dropna()
# students.fillna(85) 

## split student names
# for name in students.student_name:
#     print(name.split(), len(name.split()))

fix = [] 
for name in students.student_name:
    if len(name.split()) >= 3:
        fix.append(name)
# print(fix)

In [7]:
prefixes=[]
for name in fix:
    if len(name.split()[0]) <=4:
        prefixes.append(name.split()[0])
# print(prefixes)
# print(set(prefixes))
suffixes=[]
for name in fix:
    if len(name.split()[-1]) <=4:
        suffixes.append(name.split()[-1]) 
# print(set(suffixes))

In [8]:
# Iterate through students dataframe to remove prefixes and suffixes
prefixes_suffixes=["Dr. ", "Mr. ", "Ms. ", "Mrs. ", "Miss ", " Jr.", " V", " IV", " II", " III", " DDS", " MD", "DVM", " PhD"]
for word in prefixes_suffixes:
    students["student_name"]=students["student_name"].str.replace(word, "")

In [9]:
# #check to make sure there are no prefixes or suffixes

# x=students["student_name"].tolist()
# # add all student names with 3 or more names to a list
# three_names=[]
# for name in x:
#     if len(name.split()) >=3:
#         three_names.append(name)
# three_names

In [10]:
# x=pd.read_csv("../Program/Modules/4.clean_students_complete.csv")
# merge students and schools and make sure one column is same: school_name
# pd.merge(left, right, on="common_column")
school_data_complete_df=pd.merge(students, schools, on="school_name")
school_data_complete_df.head(1)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635

In [11]:
#total number of students
student_count=school_data_complete_df.student_name.count() 
# print(student_count)
##axis =0 sum the column axis=1 sum the row
# print(schools["size"].sum(axis = 0)) 

# To get one answer
school_data_complete_df['Student ID'].count()

39170

In [12]:
# Total number of schools
school_count=len( school_data_complete_df['school_name'].unique())
school_count

15

In [13]:
# Total budget
total_budget=schools.budget.sum(axis=0)
total_budget

24649428

In [14]:
# Avg math scores
average_math_score=school_data_complete_df.math_score.mean()
average_math_score

78.98537145774827

In [15]:
# Avg reading scores
average_reading_score=school_data_complete_df.reading_score.mean()
average_reading_score

81.87784018381414

In [16]:
# Percentage of students who passed math
#execute these will give us a Boolean values
passing_math=school_data_complete_df.math_score >=70
passing_reading=school_data_complete_df.reading_score >=70
passing_math.head(1)

0    True
Name: math_score, dtype: bool

# Filter Number of Students: DF[DF.column >=70]

In [17]:
# Number of students passed Math and Reading
passing_math=school_data_complete_df[school_data_complete_df.math_score >=70]
# get the number of students that passed math
passing_math_count=passing_math.student_name.count()

passing_reading=school_data_complete_df[school_data_complete_df.reading_score >=70]
# get the number of students that passed reading
passing_reading_count=passing_reading.student_name.count()

In [18]:
# Percentage of students who passed math and reading
passing_math_percentage=passing_math_count/float(student_count)*100
passing_reading_percentage=passing_reading_count/float(student_count)*100
passing_math_percentage

74.9808526933878

In [19]:
# Overall passing percentage
# Filter with Two conditionals 
passing_math_reading=school_data_complete_df[(school_data_complete_df.math_score >=70) & (school_data_complete_df.reading_score >=70)]   
passing_math_reading.head(1)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [20]:
overall_passing_math_reading_count=passing_math_reading.student_name.count()
overall_passing_percentage=overall_passing_math_reading_count/float(student_count)*100
overall_passing_percentage

65.17232575950983

In [21]:
# Summary Dataframe in new dataframe from dictionary
district_summary_df=pd.DataFrame(
    [{
    "Total Schools": school_count,
    "Total Students": student_count,
    "Total Budget": total_budget,
    "Average Reading Score": average_math_score,
    "Average Math Score": average_reading_score,
    "% Passing Reading": passing_reading_percentage,
    "% Passing Math": passing_math_percentage,
    "% Overall Passing":overall_passing_percentage    
    }])
district_summary_df

,Total Schools,Total Students,Total Budget,Average Reading Score,Average Math Score,% Passing Reading,% Passing Math,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,85.805463,74.980853,65.172326

In [22]:
# formatting columns- dollar amounts, decimals, 
#function to pass the percentages of students
def passing_math_percentage(math_pass_count, student_count):
    return math_pass_count/float(student_count)*100
passing_math_percentage(passing_math_count, student_count)

74.9808526933878

In [23]:
student_count

39170

In [24]:
# Map function-substuting value in Series with another value 
# new value is generated from function, dictionary, Series\
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)
district_summary_df["Total Budget"]=district_summary_df["Total Budget"].map("${:,.2f}".format)
district_summary_df["Average Reading Score"]=district_summary_df["Average Reading Score"].map("{:.1f}".format)          
district_summary_df["Average Math Score"]=district_summary_df["Average Math Score"].map("{:.1f}".format)
district_summary_df["% Passing Reading"]=district_summary_df["% Passing Reading"].map("{:.1f}".format)
district_summary_df["% Passing Math"]=district_summary_df["% Passing Math"].map("{:.1f}".format)
district_summary_df["% Overall Passing"]=district_summary_df["% Overall Passing"].map("{:.1f}".format)
district_summary_df

,Total Schools,Total Students,Total Budget,Average Reading Score,Average Math Score,% Passing Reading,% Passing Math,% Overall Passing
0,15,"39,170","$24,649,428.00",79.0,81.9,85.8,75.0,65.2

In [25]:
# Reorder Columns
new_column=['Total Schools', 'Total Students', 'Total Budget', 'Average Math Score', 'Average Reading Score', '% Passing Math', '% Passing Reading', '% Overall Passing']
district_summary_df=district_summary_df[new_column]
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",81.9,79.0,75.0,85.8,65.2

In [26]:
# Generate summary for each school district

In [27]:
#Create new DF where index needs to be school_name with school type as first column
#Set index to school name, use schools because school_name and type are Series
per_school_types=schools.set_index(["school_name"])["type"]
per_school_types.head(1)

school_name
Huang High School    District
Name: type, dtype: object

In [28]:
# Convert Series to DF
df=pd.DataFrame(per_school_types)
df.head(1)

                       type
school_name
Huang High School  District

In [29]:
# Get Student Count Per School-This number is in schools as well as school_data_complete_df
# Series doesnt have index "school_name" so cannot use "size" column from schools
per_school_counts=schools.set_index(["school_name"])['size'] #new index on school name
per_school_counts.head(1)

school_name
Huang High School    2917
Name: size, dtype: int64

In [30]:
# Get number of each students
per_school_counts=school_data_complete_df['school_name'].value_counts()
per_school_counts.head(1)

Bailey High School    4976
Name: school_name, dtype: int64

In [31]:
# Budget per student
per_school_budget=schools.set_index(['school_name'])["budget"]
# per_school_budget=pd.DataFrame(budget_per_school)
# per_school_budget['budget']=per_school_budget['budget'].map( "${:,.0f}".format)
per_school_budget.head(1)

school_name
Huang High School    1910635
Name: budget, dtype: int64

In [32]:
# per_school_budget and per_school_counts are Series and int64
per_school_capita=per_school_budget/per_school_counts
per_school_capita.head(1)

Bailey High School    628.0
dtype: float64

# GroupBy()

In [33]:
# Get average Math score by school
per_school_math=school_data_complete_df.groupby(['school_name']).mean()['math_score'] 
per_school_reading=school_data_complete_df.groupby(['school_name']).mean()['reading_score'] 
# per_school_math=pd.DataFrame(per_school_math)
# per_school_math['math_score']=per_school_math['math_score'].map("{:.1f}".format)
per_school_math.head(1)

school_name
Bailey High School    77.048432
Name: math_score, dtype: float64

In [34]:
# Passing Percentages Per School-number of students who passed math/reading
# Students who passed math/reading
pass_math=school_data_complete_df[(school_data_complete_df.math_score >=70) & (school_data_complete_df.reading_score >=70)]                    
pass_math_count=pass_math.student_name.count()
pass_math_count

25528

In [35]:
per_school_passing_math=school_data_complete_df[school_data_complete_df.math_score >=70]      
per_school_passing_reading=school_data_complete_df[school_data_complete_df.reading_score >=70]

In [36]:
#create a series that has school_name as index
per_school_passing_math=per_school_passing_math.groupby(['school_name']).count()['student_name']
per_school_passing_reading=per_school_passing_reading.groupby(['school_name']).count()['student_name']

In [37]:
per_school_passing_math.head(1)

school_name
Bailey High School    3318
Name: student_name, dtype: int64

In [38]:
per_school_passing_math=per_school_passing_math/per_school_counts*100
per_school_passing_reading=per_school_passing_reading/per_school_counts*100

In [39]:
#getting overall passing percentage for all students for each school
per_passing_math_reading=school_data_complete_df[(school_data_complete_df["math_score"] >= 70) & (school_data_complete_df["reading_score"] >= 70)] 
per_passing_math_reading=per_passing_math_reading.groupby(['school_name']).count()["student_name"]
per_overall_passing_percentage=per_passing_math_reading/per_school_counts *100
per_overall_passing_percentage.head(1)

Bailey High School    54.642283
dtype: float64

In [40]:
per_school_summary_df = pd.DataFrame({
             "School Type": per_school_types,
             "Total Students": per_school_counts,
             "Total School Budget": per_school_budget,
             "Per Student Budget": per_school_capita,
             "Average Math Score": per_school_math,
           "Average Reading Score": per_school_reading,
           "% Passing Math": per_school_passing_math,
           "% Passing Reading": per_school_passing_reading,
           "% Overall Passing": per_overall_passing_percentage})
per_school_summary_df.head(1)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.93328,54.642283

In [41]:
per_school_summary_df['Total Students']=per_school_summary_df['Total Students'].map("{:}".format)                                         
per_school_summary_df['Total School Budget']=per_school_summary_df['Total School Budget'].map("${:,}".format)    
per_school_summary_df['Per Student Budget']=per_school_summary_df['Per Student Budget'].map("${:,}".format)
per_school_summary_df['Average Math Score']=per_school_summary_df['Average Math Score'].map("{:.2f}".format)
per_school_summary_df['Average Reading Score']=per_school_summary_df['Average Reading Score'].map("{:.2f}".format)
per_school_summary_df['% Passing Math']=per_school_summary_df['% Passing Math'].map("{:.2f}".format)
per_school_summary_df['% Passing Reading']=per_school_summary_df['% Passing Reading'].map("{:.2f}".format)
per_school_summary_df['% Overall Passing']=per_school_summary_df['% Overall Passing'].map("{:.2f}".format)

per_school_summary_df.head(1)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,District,4976,"$3,124,928",$628.0,77.05,81.03,66.68,81.93,54.64

# Highest Performing Schools

In [42]:
top_schools = per_school_summary_df.sort_values(["% Overall Passing"], ascending=False)
bottom_schools= per_school_summary_df.sort_values(["% Overall Passing"], ascending=True)
bottom_schools.head(1)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Rodriguez High School,District,3999,"$2,547,363",$637.0,76.84,80.74,66.37,80.22,52.99

# Passing Students by Grade

In [43]:
# get 9th graders in Series
ninth_graders=school_data_complete_df[(school_data_complete_df['grade']=='9th')] 
tenth_graders=school_data_complete_df[(school_data_complete_df['grade']=='10th')] 
eleventh_graders=school_data_complete_df[(school_data_complete_df['grade']=='11th')] 
twelfth_graders=school_data_complete_df[(school_data_complete_df['grade']=='12th')]

In [44]:
# Get average math and reading scores by grade
ninth_graders_math_score=ninth_graders.groupby(['school_name']).mean()['math_score']
tenth_graders_math_score=tenth_graders.groupby(['school_name']).mean()['math_score']
eleventh_graders_math_score=eleventh_graders.groupby(['school_name']).mean()['math_score']
twelfth_graders_math_score=twelfth_graders.groupby(['school_name']).mean()['math_score']

ninth_graders_reading_score=ninth_graders.groupby(['school_name']).mean()['reading_score']
tenth_graders_reading_score=tenth_graders.groupby(['school_name']).mean()['reading_score']
eleventh_graders_reading_score=eleventh_graders.groupby(['school_name']).mean()['reading_score']
twelfth_graders_reading_score=twelfth_graders.groupby(['school_name']).mean()['reading_score']

# Combine Series into DF

In [45]:

math_scores_by_grade=pd.DataFrame({
    "9th": ninth_graders_math_score,
    '10th': tenth_graders_math_score,
    '11th': eleventh_graders_math_score,
    '12th':twelfth_graders_math_score,
})

reading_scores_by_grade=pd.DataFrame({
    "9th":  ninth_graders_reading_score,
    '10th': tenth_graders_reading_score,
    '11th': eleventh_graders_reading_score,
    '12th': twelfth_graders_reading_score,
})
reading_scores_by_grade

                             9th       10th       11th       12th
school_name
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

In [46]:
# #Format Columns
# math_scores_by_grade['9th']=math_scores_by_grade['9th'].map('{:.2f}'.format)
# math_scores_by_grade['10th']=math_scores_by_grade['10th'].map('{:.2f}'.format)
# math_scores_by_grade['11th']=math_scores_by_grade['11th'].map('{:.2f}'.format)
# math_scores_by_grade['12th']=math_scores_by_grade['12th'].map('{:.2f}'.format)

# reading_scores_by_grade['9th']=reading_scores_by_grade['9th'].map('{:.2f}'.format)
# reading_scores_by_grade['10th']=reading_scores_by_grade['10th'].map('{:.2f}'.format)
# reading_scores_by_grade['11th']=reading_scores_by_grade['11th'].map('{:.2f}'.format)
# reading_scores_by_grade['12th']=reading_scores_by_grade['12th'].map('{:.2f}'.format)

# math_scores_by_grade.index.name=None
# reading_scores_by_grade.index.name=None

# Bins

In [47]:
per_school_capita

Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [48]:
# School Spending Affect Scores-Spending Ranges by school with binning
per_school_capita.describe()
# Number of Rows in DF
# Avg of Rows
# Standard Deviation of Rows
# Minimum Value of Rows
# 25th Percentile
# 50th Percentile
# 75th Percentile
# Minimum Value of Row
spending_bins = [0, 585, 615, 645, 675]
pd.cut(per_school_capita, spending_bins)

Bailey High School       (615, 645]
Cabrera High School        (0, 585]
Figueroa High School     (615, 645]
Ford High School         (615, 645]
Griffin High School      (615, 645]
Hernandez High School    (645, 675]
Holden High School         (0, 585]
Huang High School        (645, 675]
Johnson High School      (645, 675]
Pena High School         (585, 615]
Rodriguez High School    (615, 645]
Shelton High School      (585, 615]
Thomas High School       (615, 645]
Wilson High School         (0, 585]
Wright High School         (0, 585]
dtype: category
Categories (4, interval[int64]): [(0, 585] < (585, 615] < (615, 645] < (645, 675]]

In [49]:
# Cut the per_school_capita into the spending ranges.
spending_bins = [0, 585, 615, 645, 675]
per_school_capita.groupby(pd.cut(per_school_capita, spending_bins)).count()

(0, 585]      4
(585, 615]    2
(615, 645]    6
(645, 675]    3
dtype: int64

In [50]:
# Determine how many schools in each range
# Cut the per_school_capita into the spending ranges.
spending_bins = [0, 585, 630, 645, 675]
per_school_capita.groupby(pd.cut(per_school_capita, spending_bins)).count()

(0, 585]      4
(585, 630]    4
(630, 645]    4
(645, 675]    3
dtype: int64

In [51]:
spending_bins = [0, 585, 630, 645, 675]
group_names = ["<$584", "$585-629", "$630-644", "$645-675"]

In [52]:
# Categorize Bins based on spending-data needs to be one-dimensional (list or Series)
per_school_summary_df["Spending Ranges (Per Student)"] = pd.cut(per_school_capita, spending_bins, labels=group_names)
per_school_summary_df.head(1)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,Spending Ranges (Per Student)
Bailey High School,District,4976,"$3,124,928",$628.0,77.05,81.03,66.68,81.93,54.64,$585-629

In [53]:
per_school_summary_df.dtypes

School Type                        object
Total Students                     object
Total School Budget                object
Per Student Budget                 object
Average Math Score                 object
Average Reading Score              object
% Passing Math                     object
% Passing Reading                  object
% Overall Passing                  object
Spending Ranges (Per Student)    category
dtype: object

In [54]:
per_school_summary_df['Average Math Score'] = per_school_summary_df['Average Math Score'].astype(float)
per_school_summary_df['Average Reading Score'] = per_school_summary_df['Average Reading Score'].astype(float)
per_school_summary_df['Total Students'] = per_school_summary_df['Total Students'].astype(float).astype('Int64')    
per_school_summary_df['% Passing Math'] = per_school_summary_df['% Passing Math'].astype(float)
per_school_summary_df['% Passing Reading'] = per_school_summary_df['% Passing Reading'].astype(float)
per_school_summary_df['% Overall Passing'] = per_school_summary_df['% Overall Passing'].astype(float)

In [55]:
# Average math and reading scores, average percentage of passing math and reading, average overall passing percentage

In [56]:
spending_math_scores = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Math Score"]
spending_reading_scores = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Reading Score"]
spending_passing_math = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Math"]
spending_passing_reading = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Reading"]
overall_passing_spending = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Overall Passing"]

In [57]:
# Assemble into DataFrame. 
spending_summary_df = pd.DataFrame({
          "Average Math Score" : spending_math_scores,
          "Average Reading Score": spending_reading_scores,
          "% Passing Math": spending_passing_math,
          "% Passing Reading": spending_passing_reading,
          "% Overall Passing": overall_passing_spending})

spending_summary_df.head(1)

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
<$584,83.4525,83.9325,93.46,96.61,90.3675

In [58]:
# Formatting
spending_summary_df["Average Math Score"] = spending_summary_df["Average Math Score"].map("{:.1f}".format)
spending_summary_df["Average Reading Score"] = spending_summary_df["Average Reading Score"].map("{:.1f}".format)
spending_summary_df["% Passing Math"] = spending_summary_df["% Passing Math"].map("{:.0f}".format)
spending_summary_df["% Passing Reading"] = spending_summary_df["% Passing Reading"].map("{:.0f}".format)
spending_summary_df["% Overall Passing"] = spending_summary_df["% Overall Passing"].map("{:.0f}".format)

In [59]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [60]:
# Categorize spending based on the bins.
per_school_summary_df["School Size"] = pd.cut(per_school_summary_df["Total Students"], size_bins, labels=group_names)
per_school_summary_df.head(1)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,Spending Ranges (Per Student),School Size
Bailey High School,District,4976,"$3,124,928",$628.0,77.05,81.03,66.68,81.93,54.64,$585-629,Large (2000-5000)

In [61]:
# Calculate averages for the desired columns.
size_math_scores = per_school_summary_df.groupby(["School Size"]).mean()["Average Math Score"]
size_reading_scores = per_school_summary_df.groupby(["School Size"]).mean()["Average Reading Score"]
size_passing_math = per_school_summary_df.groupby(["School Size"]).mean()["% Passing Math"]
size_passing_reading = per_school_summary_df.groupby(["School Size"]).mean()["% Passing Reading"]
size_overall_passing = per_school_summary_df.groupby(["School Size"]).mean()["% Overall Passing"]

In [62]:
# Assemble into DataFrame.
size_summary_df = pd.DataFrame({
          "Average Math Score" : size_math_scores,
          "Average Reading Score": size_reading_scores,
          "% Passing Math": size_passing_math,
          "% Passing Reading": size_passing_reading,
          "% Overall Passing": size_overall_passing})

size_summary_df

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Size,,,,,
Small (<1000),83.820,83.92500,93.55000,96.10000,89.885
Medium (1000-2000),83.374,83.86600,93.59800,96.79000,90.620
Large (2000-5000),77.745,81.34375,69.96375,82.76625,58.285

In [63]:
# Formatting.
size_summary_df["Average Math Score"] = size_summary_df["Average Math Score"].map("{:.1f}".format)
size_summary_df["Average Reading Score"] = size_summary_df["Average Reading Score"].map("{:.1f}".format)
size_summary_df["% Passing Math"] = size_summary_df["% Passing Math"].map("{:.0f}".format)
size_summary_df["% Passing Reading"] = size_summary_df["% Passing Reading"].map("{:.0f}".format)
size_summary_df["% Overall Passing"] = size_summary_df["% Overall Passing"].map("{:.0f}".format)

size_summary_df

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Size,,,,,
Small (<1000),83.8,83.9,94,96,90
Medium (1000-2000),83.4,83.9,94,97,91
Large (2000-5000),77.7,81.3,70,83,58

In [64]:
# Calculate averages for the desired columns. 
type_math_scores = per_school_summary_df.groupby(["School Type"]).mean()["Average Math Score"]
type_reading_scores = per_school_summary_df.groupby(["School Type"]).mean()["Average Reading Score"]
type_passing_math = per_school_summary_df.groupby(["School Type"]).mean()["% Passing Math"]
type_passing_reading = per_school_summary_df.groupby(["School Type"]).mean()["% Passing Reading"]
type_overall_passing = per_school_summary_df.groupby(["School Type"]).mean()["% Overall Passing"]

In [65]:
# Assemble into DataFrame.
type_summary_df = pd.DataFrame({
          "Average Math Score" : type_math_scores,
          "Average Reading Score": type_reading_scores,
          "% Passing Math": type_passing_math,
          "% Passing Reading": type_passing_reading,
          "% Overall Passing": type_overall_passing})

type_summary_df

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Type,,,,,
Charter,83.472500,83.896250,93.620000,96.586250,90.431250
District,76.955714,80.965714,66.548571,80.798571,53.671429

# Challenge

In [66]:
# Update the grades for Thomas High School 9th Graders
# Replace the math and reading scores from Thomas High School
## Filter data, replace incorrect values with NaN,How analysis changed

In [67]:
school="../Program/Modules/4.schools_complete.csv"
schoolz=pd.read_csv(school)
student="../Program/Modules/4.students_complete.csv"
studentz=pd.read_csv(student)
studentz

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84
...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75

In [68]:
x=studentz['student_name']
fix=[]
prefix=[]
suffix=[]
for name in x:
    if len(name.split()) >=3:
        fix.append(name)
for name in fix:
    if len(name.split()[0]) <=4:
        prefix.append(name.split()[0])
    if len(name.split()[-1]) <=4:
        suffix.append(name.split()[-1])
prefixes_suffixes=["Dr. ", "Mr. ", "Ms. ", "Mrs. ", "Miss ", " Jr.", " V", " IV", " II", " III", " DDS", " MD", "DVM", " PhD"]
for word in prefixes_suffixes:
    studentz['student_name']=students["student_name"].str.replace(word, "") 
studentz

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84
...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75

In [69]:
suffixes=print(list(set(suffix)))
suffixes

['Jr.', 'Odom', 'Dyer', 'Webb', 'Pham', 'Cole', 'Cain', 'Pace', 'III', 'Day', 'Rose', 'Koch', 'Neal', 'Cox', 'Bond', 'Vang', 'Ware', 'Dunn', 'Ford', 'Page', 'Ross', 'Love', 'Bell', 'Reed', 'Li', 'Mays', 'Hall', 'West', 'Lowe', 'Levy', 'Kim', 'DVM', 'Hood', 'MD', 'Duke', 'Moss', 'Gray', 'Chen', 'Moon', 'Hays', 'York', 'Tran', 'Shea', 'Roy', 'V', 'Wood', 'Hill', 'Sosa', 'Diaz', 'Cook', 'PhD', 'Lee', 'Tate', 'Hale', 'Holt', 'IV', 'Kemp', 'Cobb', 'King', 'DDS', 'Park', 'Ryan', 'Gill', 'II']

In [70]:
prefixes=print(list(set(prefix)))
prefixes

['Emma', 'Dawn', 'Noah', 'Mike', 'Ian', 'Lynn', 'Omar', 'Jon', 'John', 'Judy', 'Troy', 'Erik', 'Tony', 'Anna', 'Seth', 'Anne', 'Carl', 'Mary', 'Marc', 'Erin', 'Sean', 'Gary', 'Amy', 'Greg', 'Kim', 'Lisa', 'Paul', 'Tina', 'Gail', 'Luke', 'Toni', 'Dale', 'Tara', 'Ms.', 'Mr.', 'Gina', 'Kari', 'Adam', 'Cody', 'Mrs.', 'Dr.', 'Jill', 'Dana', 'Sara', 'Mark', 'Kyle', 'Cory', 'Eric', 'Joe', 'Chad', 'Jose', 'Todd', 'Kara', 'Ruth', 'Jodi', 'Leah', 'Miss', 'Lori', 'Ryan']

In [71]:
# student_grade=studentz.set_index('grade') 
# thomas_high_school=student_grade[student_grade['school_name']=='Thomas High School'] 
# thomas_high_school_ninth=thomas_high_school.loc['9th']
# thomas_high_school_ninth['reading_score']=thomas_high_school_ninth['reading_score']='NaN'
# thomas_high_school_ninth['math_score']=thomas_high_school_ninth['math_score']='NaN'
# new_column_order=['Student ID', 'student_name', 'gender', 'grade', 'school_name', 'reading_score', 'math_score']     
# thomas_high_school_ninth.reset_index(drop=False, inplace=True)
# thomas_high_school_ninth=thomas_high_school_ninth[new_column_order]
# thomas_high_school_ninth

C:\Users\15124\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\15124\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [82]:
# df.loc[(condition1 & condition2), ['column to rewrite'] ] = np.nan
studentz.loc[(studentz["school_name"] == "Thomas High School") & (studentz["grade"] == "9th"), ["reading_score"]] = np.nan
studentz.loc[(studentz["school_name"] == "Thomas High School") & (studentz["grade"] == "9th"), ["math_score"]] = np.nan

In [83]:
studentz

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66.0,79.0
1,1,Victor Smith,M,12th,Huang High School,94.0,61.0
2,2,Kevin Rodriguez,M,12th,Huang High School,90.0,60.0
3,3,Richard Scott,M,12th,Huang High School,67.0,58.0
4,4,Bonnie Ray,F,9th,Huang High School,97.0,84.0
...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99.0,90.0
39166,39166,Dawn Bell,F,10th,Thomas High School,95.0,70.0
39167,39167,Rebecca Tanner,F,9th,Thomas High School,NaN,NaN
39168,39168,Desiree Kidd,F,10th,Thomas High School,99.0,90.0
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95.0,75.0